<nav class="navbar navbar-expand navbar-light bg-primary">
  <div class="nav navbar-nav">
    <h5 class="nav-item nav-link active text-white">NGX-CHARTS DASHBOARD </h5>
  </div>
</nav>
<div class="container-fluid">
  <div class="row pt-2">
    <div class="col-md-12">
      <div class="card text-left">
        <div class="card-body">
          <h4 class="card-title border-bottom">Vertical Bar Charts</h4>
          <ngx-charts-bar-vertical 
              [view]="[1000,400]"
              [results]="saleData"
              [xAxisLabel]="'Products'"
              [legendTitle]="'Product Sale Chart'"
              [yAxisLabel]="'Sale'"
              [legend]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              [gradient]="true">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card text-left">
        <div class="card-body">
          <h4 class="card-title border-bottom">Advanced Pie Charts</h4>
          <ngx-charts-advanced-pie-chart 
                [results]="saleData"
                [gradient]="true" >
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card text-left">
        <div class="card-body">
          <h4 class="card-title border-bottom">Pie Grid Charts</h4>
          <ngx-charts-pie-grid 
            [results]="saleData" >
          </ngx-charts-pie-grid>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card text-left">
        <div class="card-body">
          <h4 class="card-title border-bottom">Pie Charts</h4>
          <ngx-charts-pie-chart 
              [results]="saleData"
              [legend]="true"
              [legendTitle]="'Product Sale Report'" 
              [view]="[1000,300]"
              [labels]="true" >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div>